/* Styles for the heading */
.heading {
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0 20px;
  text-align: center;
}

/* Styles for the pokemon list */
.pokeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Styles for the pokemon cards */
.pokeCard {
  width: 320px;
  height: 460px;
  padding: 25px;
  background: linear-gradient(to bottom right, #f2f2f2, #fff);
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Styles for the pokemon image */
.pokeCard img {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
}

/* Styles for the pokemon name */
.pokeName {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin: 20px 0;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

/* Styles for the ability list */
.abilityList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

/* Styles for the ability */
.ability {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styles for the stat list */
.statList {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 20px;
}

/* Styles for the stat */
.stat {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 5px;
}
